/node_modules/
/public/build/

.DS_Store
# IDE related
.idea

# Test coverage
coverage
*.lcov

# Optional eslint cache
.eslintcache

.env.test

# build output
.vercel

tmp

benchmarking/compare/.results
