ul {
    margin-block-start: 0;
    margin-block-end: 0.3rem;
    list-style-type: none;
    padding: 0;
    text-align: left;
}

li {
    margin: 10px 0;
    transition: background 0.3s ease;
    &:hover {
        background: rgba(0, 0, 0, 0.05);
    }
}
img {
    height: 15px;
}
h1, h2 {
    color: var(--text-color);
}

h1, h2, p {
    margin-block-start: 0.3rem;
    margin-block-end: 0.3rem;
}